body {
    background: #EFEFEF;
}

.wrapper {
    margin: 5px auto;
    width: 500px;
    background: #fff;
    padding: 10px 15px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

h1 {
    text-align: center;
    font-size: 25px;
}

img {
    display: block;
    margin: auto;
}

p {
    font-size: 20px;
    padding: 10px 20px;
    line-height: 30px;
}

ul li {
    font-size: 20px;
    padding: 5px 20px;
}

section {
  border-bottom: 1px solid #7B7B7B;
}

#feedback {
  border: none;
}
