/*GENERAL PROPERTIES*/

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/LeagueGothic-Regular.eot');
    src: url('../fonts/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/LeagueGothic-Regular.woff') format('woff'), url('../fonts/LeagueGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p,
span {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
    font-family: 'League Gothic', serif;
}

header {
	border-bottom: 1px solid #37293e;
	background-image: url(../img/header_bg.jpg);
}

.about {
	background: rgba(116,80,131,1);
	background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
	background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539', GradientType=0 );
	border-bottom: 1px solid #21333b;
}

.testmnl_and_blog {
	border-top: 1px solid #0d151b;
	border-bottom: 1px solid #e6e6e6;
	background-color: #f9f9f9;
}

.logos {
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #fefefe;
	background-color: #f9f9f9;
}

.texts {
	border-top: 1px solid #d8d8d8;
	background-color: #ececec;
}



/*MENU*/

.menu {
    list-style: none;
    display: flex;
}

.menu__item {
    margin: 5px;
}

.menu__link {
    text-decoration: none;
    font-family: 'League Gothic', serif;
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}




/*RESPONSIVE PROPERTIES*/

@media(min-width: 960px) {
    body {
        background-color: yellow;
    }
    header {
    	height: 846px;
        padding: 0 calc(50% - 480px);
    }

    .about {
    	height: 339px;
    	padding: 0 calc(50% - 480px);
    }

    .testmnl_and_blog {
    	height: 486px;
    	padding: 0 calc(50% - 480px);    	
    }

    .logos {
    	height: 118px;
    	padding: 0 calc(50% - 480px);
    }
}



@media(max-width: 959px) {

    body {
        background-color: blue;
    }

     header {
     	height: 798px;
        padding: 0 calc(50% - 400px);
    }

     .about {
    	height: 340px;
    	padding: 0 calc(50% - 400px);
    }

    .testmnl_and_blog {
    	height: 486px;
    	padding: 0 calc(50% - 400px);
    }

    .logos {
    	height: 118px;
    	padding: 0 calc(50% - 400px);
    }
}


@media(max-width: 767px) {

    body {
        background-color: red;
    }

    header {
     	height: 548px;
        padding: 0 calc(50% - 240px);
    }

    .about {
    	height: 596px;
    	padding: 0 calc(50% - 240px);
    }

    .testmnl_and_blog {
    	height: 786px;
		padding: 0 calc(50% - 240px);
    }

    .logos {
    	height: 230px;
    	padding: 0 calc(50% - 240px);
    }

    .texts {
    	height: 668px;
    	padding: 0 calc(50% - 240px);
    }
}


@media (max-width: 479px) {
    body {
        background-color: green;
    }

     header {
    	height: 516px;
        padding: 0 calc(50% - 160px);
    }

    .about {
    	height: 596px;
    	padding: 0 calc(50% - 160px);
    }

    .testmnl_and_blog {
    	height: 786px;
    	padding: 0 calc(50% - 160px);
    }

    .logos {
		height: 420px;
    	padding: 0 calc(50% - 160px);
    }

    .texts {
    	display: none;
    }
}
