.wrapper,
header,
main,
section,
footer,
aside,
.forms {
  border: 1px solid #000;
  margin: 1px;
}

figure {
  margin: 0;
}

/*WRAPPER*/

.wrapper {
  width: 910px;
  margin: 18px auto 0;
}

/*HEADER*/

.basic_info {
  display: flex;
  flex-direction: row;
}

.login {
  background: -webkit-linear-gradient(top, #206988, #0c3256);
}


/*FORMS*/

.forms {
  height: 200px;
}


/*MAIN*/

main {
  display: flex;
}

.catalogue,
.brands {
  width: 20%;
}

.show_products {
  width: 60%;
}

/*LOGOS*/


/*FOOTER*/
