@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue-Thin.eot');
	src: url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeue-Thin.woff') format('woff'),
		 url('../fonts/HelveticaNeue-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

p {
	font-family: 'Helvetica Neue';
	font-weight: bold;
}
