body {
    font-family: 'open sans', sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

/*WRAPPER*/

.wrapper {
    width: 1060px;
    height: 900px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

/*HEADER*/

.logo {
    padding: 50px 0 40px 45px;
}
header nav {
    margin: 0 46px;
    height: 40px;
    background-image: url(../img/navBar.jpg);
}
.topNav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNav li {
    display: inline-block;
    padding: 9px 25px;
    margin: 0 20px 0 0;
    color: #fff;
}
.topNav .selected {
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background-image: url(../img/navSelected.jpg);
}
.topNav li a {
    text-decoration: none;
    color: #fff;
}
.topNav li a:hover {
    text-decoration: underline;
}

/*MAIN*/


/*SIDEBAR*/

main {
    margin: 40px 46px 60px;
}
aside {
    float: left;
    width: 25%;
}
.sideNav {
    margin: 0;
    padding: 0;
    border: 1px solid #c8c8c8;
}
.sideNav li {
    list-style: none;
    border-bottom: 1px solid #c8c8c8;
    font-size: 15px;
}
.sideNav li:last-child {
    border-bottom: none;
}
.sideNav li a {
    display: block;
    padding: 10px 0px 10px 23px;
    text-decoration: none;
    color: #656363;
}
.sideNav li a:hover {
    background-color: #f9f9f9;
    padding-left: 35px;
}

/*IMAGE STYLING*/

.content {
    margin-left: 30%;
}
.content .image {
    border: 1px solid #c8c8c8;
}
.image img {
    display: block;
    margin: auto;
    padding: 15px;
}

/*TEXT STYLING*/

.content .text {
    padding: 35px 25px 0;
    font-size: 13px;
}

/*FOOTER*/

footer nav {
    margin: 0 46px;
    height: 40px;
    background-color: #e1e1e1;
}
.bottomNav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bottomNav li {
    display: inline-block;
    padding: 9px 25px;
    margin: 0 20px 0 0;
    color: #fff;
}
.bottomNav .selected,
.bottomNav a:hover {
    text-decoration: underline;
}
.bottomNav li a {
    text-decoration: none;
    color: #2c2c2c;
}
footer p {
    display: inline;
    float: right;
    padding: 0px 10px;
    margin: 11px 46px;
    font-size: 12px;
}
